<h1>Add a New Review</h1>

<%= render 'form', pgrade: @pgrade, btn_name: 'Submit' %>
<br/>
<%= link_to 'Back', pgrades_path, class:"btn btn-dark" %>

<br/><br/>
<p>Reminder: You cannot evaluate your own presentation.</p>
