<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Event Access Code" aria-label="Event Access Code" aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Join</button>
</div>